<h1 class="title-dashboard">Welcome to your dashboard, <%= current_user.username %></h1>

<div class="dashboard-container">

  <div class="booking-container">
    <h3>Your bookings</h3>

    <div class="booking-content">
      <% @my_bookings.each do |booking|%>
        <ul>
          <div class="booking-card-body list-unstyled">
            <li><%= booking.user.username %></li>
            <li><%= booking.board.title %></li>
            <li>from <%= booking.start_date %> to <%= booking.end_date %></li>
          </div>
        </ul>
      <% end %>
      <!-- A booking card contain a fetch title and user avatar -->
      <!-- We need to print calculated price -->
      <!-- We need to print date of rent -->
    </div>
  </div>
  <div class="booking-container ">
    <h3>Boards manager</h3>
    <div class="booking-content">
      <div class="board-manager-cards">
        <% current_user.boards.each do |board| %>
          <div class= "card-board-container">
            <div class="board-manager-picture"><%= cl_image_tag board.photo %></div>
            <ul>
              <div class="board-manager-status list-unstyled">
                <p>Board status</p>
                <li><%= board.category %></li>
                <li><%= board.title %></li>
                <li><%= board.location %></li>
                <li><%= board.availability %></li>
                <li><%= board.availability %></li>
              </div>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <form>
  <input type="checkbox" id="availability" onclick="if(this.checked){myFunction()}">
</form> -->







