<h1 class="title-dashboard">Welcome to your dashboard, <%= current_user.username %></h1>

<div class="dashboard-container">

  <div class="booking-container">
    <h3 style="
    text-align: center; margin-top: 15px;">Your bookings</h3>
    <div class="booking-content">
      <% @my_bookings.each do |booking|%>
        <ul>
          <div class="booking-card-body list-unstyled">
            <li><%= booking.user.username %></li>
            <li><%= booking.board.title %></li>
            <li>from <%= booking.start_date %> to <%= booking.end_date %></li>
          </div>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="booking-container">
    <h3 style="
    text-align: center; margin-top: 15px;">Boards manager</h3>
    <div class="booking-content">
      <div class="board-manager-cards">
        <% current_user.boards.each do |board| %>
          <div class= "card-board-container">
            <div class="board-manager-picture"><%= cl_image_tag board.photo %></div>
            <ul>
              <div class="board-manager-status list-unstyled">
                <p style="text-align: center;"><strong>Board status</strong></p>
                <li><strong>Type:</strong> <%= board.category %></li>
                <li><strong>Title:</strong> <%= board.title %></li>
                <li><strong>Location:</strong> <%= board.location %></li>
                <li><%= board.availability %></li>
              </div>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to "Add board", new_board_path %>
  </div>
  <a data-toggle="modal" data-target="#new-board-modal">Add Board with a modal!</a>
</div>

<div class="modal fade centered-modal login-modal" id="new-board-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'boards/new', board:Board.new %>
    </div>
  </div>
</div>
<!-- <form>
  <input type="checkbox" id="availability" onclick="if(this.checked){myFunction()}">
</form> -->







