<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<% tomorrow = Date.today + 1 %>

<%= simple_form_for [@booking, @board] do |f| %>
  <%= f.input :start_date, as: :date, start_year: Date.today.year %>
  <%= f.input :end_date, as: :date, start_year: Date.tomorow.year %>
  <%= f.input :accepts, as: :boolean, checked_value: true, unchecked_value: false %>
  <%= f.button :submit %>
<% end %>

# Start date can't be before today.
# End date can't be before today..
# Add a case with calculated price depending on user date input
