<div class="container-fluid">

  <div class="row">
    <div class="col-xs-4 trio-banner">
      <%= image_tag("Surf.jpg", :alt => "surfer") %>
    </div>
    <div class="col-xs-4 trio-banner">
      <%= image_tag("Skate.jpg", :alt => "skater") %>
      <%= link_to "Bro's Board", boards_path, class:"button btn-browse home"%>
    </div>
    <div class="col-xs-4 trio-banner">
      <%= image_tag("Snow.jpg", :alt => "snowboarder") %>
    </div>
  </div>
</div>
<div class="container-explain">
  <div class="row">
    <div class="col-xs-4 shaka">
      <%= image_tag("shaka.png", :alt => "shaka") %>
    </div>
    <div class="col-xs-4 money">
      <%= image_tag("money.png", :alt => "money") %>
    </div>
    <div class="col-xs-4 friends">
      <%= image_tag("friends.png", :alt => "friends") %>
    </div>
  </div>
</div>
